.navlink-active {
  background-color: rgb(43, 69, 121)
  !important;
  text-decoration: none !important;
}

#navlink {
  text-decoration: none;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 10px;
  text-underline-offset: 5px;
  color: white;
}

#navlink:hover {
  background-color: rgb(43, 69, 121) !important;
}
